<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Andy's Animation Playground
        link(rel="stylesheet" href="./styles/index.scss")
    
    body(class="ball")
        
        div.shadow

        div.ball

        script(src="./scripts/gsap.min.js")
        script(src="./scripts/main.js")